@{
    ViewBag.Title = "Solutions";
}

<!--Title Strip-->
<section id="content-region-3" class="page-tree-bg">
    <div class="container">
        <p class="page-tree-text">@Html.Partial("_BreadCrumps")</p>
    </div>
</section>
<!--End of Title Strip-->

<div class="space-20"></div>

<div class="container">
    <div class="row">
        
        <!--Solutions Nav-->
        <div class="col-md-4">
            @Html.Partial("_SolutionsNav")
        </div>
        <!--End of Solutions Nav-->
        
        <!--Solution Content-->
        <div class="col-md-8">
            <img src="~/Content/Images/Services/img-1.jpg" class="img-responsive" alt="renewable-energy"/>

            <div class="space-30"></div>

            <p>
                Renewable Energy is the future for energy generation in the near future. 
                The transition from fossil fuel energy to renewables is globally being adopted 
                to ensure a sustainable future. Renewable energy has now become an important 
                component to consider to bridge the gap between globally declared goals on 
                sustainability and our current reliance on fossil fuels for energy.
            </p>
            <p>
                Smooth integration of these technologies into our current mix is a very 
                complex process due to the inconsistency in renewable sources.
            </p>
            <p>
                SCCL offers solutions for designing remote systems, grid tie 
                and even hybrid renewable technology-coupling wind and solar energy 
                seamlessly. Kindly contact us now for more information and employ 
                our technology to join saving the planet.
            </p>
            <br>
            
            <!--Button Link-->
            <p align="center">
                <a href="contact.php" class="btn btn-lg theme-btn-color">Contact Us</a>
            </p>
            <!---->
        </div>
        <!--End of Solution Content-->
    </div>
</div>

<div class="space-70"></div>



