<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--google  font family-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" /> 
</head>
<body>
    <h1>Admin Portal</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
