<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("STABLE CORPS", "Index", "Home", null, new { @class = "logolink img-responsive" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
            <li class="social-nav">
                <a target="_blank" href="https://www.facebook.com/StableCorps">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li class="social-nav">
                <a target="_blank" href="https://twitter.com/stablecorps">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li class="social-nav">
                <a target="_blank" href="https://www.youtube.com/channel/UCaxD8H5NhR9eDsIMVID4Vaw">
                    <i class="ion-social-youtube"></i>
                </a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div><!--/.container-->
