<!--Search-->
<div class="sidebar-box">
    <div class="widget-search">
        <form class="search-form">
            <input type="text" class="form-control" placeholder="search here...">
            <i class="ion-search" data-toggle="tooltip" data-placement="top" title="" data-original-title="hit enter to search"></i>
        </form>
    </div>
</div>
<!--End of Search-->

<hr>

<!--Solutions Nav-->
<div class="sidebar-box">
    <h4>categories</h4>
    <ul class="cat-list">
        <li>@Html.ActionLink("Renewable Energy", "Solution", "Solutions", null, new { @class = "hover-color" })</li>
        <li><a href="manufacturing-technology.php" class="hover-color">Manufacturing Technology and Design</a></li>
        <li><a href="healthcare.php" class="hover-color">Healthcare</a></li>
        <li><a href="agriculture.php" class="hover-color">Agriculture</a></li>
        <li><a href="chemical-process-design.php" class="hover-color">Chemical Process Design</a></li>
        <li><a href="consumer-products.php" class="hover-color">Consumer Products</a></li>
    </ul>
</div>
<!--End of Solutions Nav-->

<hr>

<!--Solution Specific Services-->
<div class="sidebar-box">
    <h4>Solutions</h4>
    <ul class="cat-list">
        <li><a href="3d-modelling.php" class="hover-color">3D CAD Modelling</a></li>
        <li><a href="#" class="hover-color">SUSTAINABILITY AND ARCHITECTURAL DESIGN</a></li>
        <li><a href="multibody-dynamics.php" class="hover-color">Multibody Dynamics</a></li>
        <li><a href="finite-element-analysis.php" class="hover-color">Finite Element Analysis</a></li>
        <li><a href="computational-fluid-dynamics.php" class="hover-color">Computational Fluid Dynamics</a></li>
        <li><a href="multiphysics-simulation.php" class="hover-color">Multiphysics Simulations</a></li>
        <li><a href="software-development.php" class="hover-color">Software Development</a></li>
        <li><a href="cad-drafting.php" class="hover-color">CAD Drafting</a></li>
        <li><a href="techno-economic-assessment.php" class="hover-color">Techno-economic assessment</a></li>
        <li><a href="process-optimization.php" class="hover-color">Process Optimization</a></li>
        <li><a href="consultancy.php" class="hover-color">Consultancy</a></li>
    </ul>
</div>
<!--End of Solution Specific Services-->

@{
    //<!--Solution Specific Products-->
    //<!--End of Solution Specific Products-->
}

<hr>

<!--Social-->
<div class="sidebar-box">
    <h4>Connect with us</h4>
    <ul class=" list-inline social-btn">
        <li><a target="_blank" href="https://www.facebook.com/StableCorps"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/stablecorps"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
        <li><a target="_blank" href="https://plus.google.com/105370864366823037587/about"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
        <li><a target="_blank" href="https://www.pinterest.com/stablecorps"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
        <li><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
    </ul>
</div>
<!--End of Social-->

<hr>



